@model IEnumerable<Member>

@{
  ViewData["Title"] = "Team Members";
}

<partial name="Partials/Sections/_AddMemberForm" />
<partial name="Partials/Sections/_EditMemberForm" />

<section id="team-members">
  <header>
    <h2>
      @ViewData["Title"]
    </h2>
    <button type="button" data-modal="true" data-target="#addMemberModal" class="btn btn-blue btn-add" ">
    <i class="bi bi-plus-lg"></i>
    Add Member
    </button>
    </header>

    <div class="members-list">

      @if (Model != null)
      {
        @foreach (var member in Model)
        {
          <div>
            <div>@member.FirstName @member.LastName</div>
          </div>
        }
      }

  </div>

</section>



