@{
  ViewData["Title"] = "Team Members";
}

<section id="team-members">
  <header>
    <h2>
      @ViewData["Title"]
    </h2>
    <button class="btn btn-blue">
      <i class="bi bi-plus-lg"></i>
      Add Member
    </button>
  </header>
</section>



