@{
  ViewData["Title"] = "Projects";
}

<section id="projects">
  <header>
    <h2>
      @ViewData["Title"]
    </h2>
    <button class="btn btn-blue">
      <i class="bi bi-plus-lg"></i>
      Add Project
    </button>
  </header>
</section>
